<div class="table">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers; index as i" [attr.data-index]="i" tabindex="-1">
      <td>{{customer?.id}}</td>
      <td>{{customer?.name}}</td>
      <td>{{customer?.address}}</td>
      <td>{{customer?.phone}}</td>

      <td>
        <button (click)="deleteCustomer(customer.id)"><a>Удалить</a></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
